Package: geotriples
Version: 1.0.4
Section: misc
Priority: optional
Architecture: all
Maintainer: Kostis Kyzirakos <Kostis.Kyzirakos@cwi.nl>, Ioannis Vlachopoulos <johnvl@di.uoa.gr>, Dimitrianos Savva <dimis@di.uoa.gr>
Description: WP2 LEO tool
Depends: openjdk-7-jre | oracle-java7-installer
Distribution: development
